//-----------colors variables------------


$black: #343434;
$gray: #717171;
$white: #ffffff;
//$orange: #ffaf36;
$red: #e7434e;



//------------ brand colors --------------

$brand-color: $red;

//-------------fonts colors---------------

$light-text-color: $white;
$dark-text-color: $black ;
$gray-text-color: $gray ;




//--------------fonts------------------



$raleway: 'Raleway', sans-serif;

$open-sans: 'Open Sans', sans-serif;











