.destination-btn,
.boats-btn{
  display: block;
  margin: 0 auto;
  margin-top: 80px;
  padding: 20px 50px;

  border-radius: 5px;
  border: 1px solid rgba(38, 38, 38, 0.3);
  outline: none;
  font: 700 14px/22px $raleway;
  background-color: transparent;
  color: #343434;
  text-transform: uppercase;

}