/*Text styles*/

.main-title{
  position: relative;
  font: 700 45px/60px $raleway;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: $light-text-color;

}
.main-subtitle{
  position: relative;
  font: 400 24px/30px $open-sans;
  text-align: center;
  text-transform: uppercase;
  color: $light-text-color;


}

.title{
  font: 400 30px/32px $raleway;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #343435;
}
.subtitle{
  margin-bottom: 50px;
  font: 400 16px/22px $open-sans;
  text-align: center;
  color: #717171;

}

@media (min-width: 768px) {
  .main-title{
    font: 700 72px/80px $raleway;

  }
  .main-subtitle{
    font: 400 30px/32px $open-sans;

  }

}
