.destination {
  padding-bottom: 80px;
}

.destination-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: -80px;
  margin-bottom: 100px;
  padding: 20px 0;
  box-shadow: 0 0 30px rgba(52, 52, 52, 0.15);
  border-radius: 5px;
  background-color: #ffffff;
  .destination-info-item {
    margin: 20px;
    text-align: center;
    .item-count {
      display: block;
      margin-bottom: 10px;
      font: 700 30px $open-sans;
      text-transform: uppercase;
      color: #343434;
    }
    .item-description {
      font: 400 18px/22px $open-sans;
      color: #717171;
    }
  }
}



